@import '@/assets/scss/variables.scss';
@import '@/assets/scss/main.scss';

#homePage{
	width: 100vw;
	overflow: hidden;
	&.langEn{
		h6{
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
	}
}
.main__scrollama{
	position: relative;
	width: $asideWidth;
	z-index: 1;
	.scrollama {
		display: flex;
		width: 100%;
		height: 100vh;
		background-color: $whiteColor;
		color: $textSubColor;
		&.headerWrapper{
			width: 100vw;
		}
	}
	.full{
		width: 100vw;
		.imgBox{
			height: 20em;
			margin-bottom: 1rem;
			padding: 0;
			text-align: left;
		}
		.chartbox > *{
			width: 100%;
		}
		.columnBox >*,
		.highchartsBox.highchartsPieBox{
			max-width: 25rem;
		}
	}
}

.map_container{
	position: fixed;
	width: calc(100% - #{$asideWidth});
	height: 100vh;
	top: 0;
	left: $asideWidth;
	opacity: 1;
	z-index: 0;
	transition-property: all;
	transition-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.toggleLayerBtn{
	margin-left: .25rem;
	border-radius: 1rem;
	border: 2px solid darken($whiteColor, 10);
	background-color: darken($whiteColor, 2.5);
	&:hover{
		background-color: darken($whiteColor, 5);
	}
}

.highchartsBox{
	height: calc(100vh - 20rem);
	&.taiwanTaxiBar{}
	&.highchartsPieBox{
		width: 100%;
		height: 20rem;
		max-width: $asideWidth;
	}
	&.joinMotorcade{
		height: calc(100vh - 17rem);
		max-height: 40rem;
	}
	&.taxiHistory{
		height: calc(100vh - 26rem);
		max-height: 31rem;
	}
    &.scrollChart{
		@include scrollbar_style;
        height: calc(100vh - 19rem);
        overflow: scroll !important;
    }
	.highcharts-background{
    	fill: transparent;
	}
	.highcharts-container text{
		fill: $textSubColor !important;
	}
	.seriesStyle{
		font-size: 0.7rem;
		margin: 0.25rem;
		color: lighten($blackColor, 15);
	}
}

.highcharts-container text {
    fill: $textSubColor !important;
}
.highcharts-subtitle,
.highcharts-credits,
.highcharts-axis-title {
    fill-opacity: 0.7;
}
.highcharts-grid-line {
    stroke: $textSubColor;
    stroke-opacity: 0.2;
}
.highcharts-tooltip-box {
    fill: rgba($whiteColor,0.5);
}
.highcharts-column-series rect.highcharts-point {
    stroke: $whiteColor;
}
.path-stroke-transparent{
    path{
        stroke: transparent;
    }
}
.vertialSuper{
    vertical-align: super;
    font-size: 50%;
	opacity: 0.5;
}
.inlineButton{
	display: inline-block;
    background: transparent;
    color: $textSubColor;
    border: none;
	border-bottom: 2px solid $textSubColor;
	font-size: 100%;
}
.source{
	text-align: right;
	font-size: 0.7rem;
	color: lighten($textSubColor, 20);
}
.columnBox{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 48%;
	grid-gap: 2%;
	width: 100%;
	max-height: 55rem;
	>*{
		max-width: $asideWidth;
		margin: 0 auto;
	}
	&.single{
		grid-auto-columns: 100%;
	}
}

#homePage.mobile{
	$compareMapboxHeight: 60vh;
	.mapGifBox{
		overflow: hidden;
	}
	.highchartsBox{
		&.taiwanTaxiBar,
		&.joinMotorcade,
		&.taxiHistory{
			@include scrollbar_style;
			overflow: scroll !important;
			width: 100%;
			height: 26rem;
		}
		&.highchartsPieBox{
			height: 16rem;
		}
		&.scrollChart{
			height: 25.5rem;
		}
	}
	.main__scrollama{
		width: 100%;
	}
	.scrollama{
		background-color: $whiteColor;
		flex-direction: column;
		&.full .imgBox{
			text-align: center;
		}
		.contextbox{
			height: 100%;
			padding: 3rem 1.5rem 0 1.5rem;
			.annotation{
				margin-top: 2.5rem;
			}
			> * {
				max-width: none !important;
				width: 100%;
			}
		}
		&[data-step-no="1"]{
			height: 38rem;
		}
		&[data-step-no="2"]{
			height: 65rem;
		}
		&[data-step-no="3"]{
			height: 80rem;
			.columnBox{
				margin-top: 0;
				margin-bottom: 0;
				>div{
					margin-bottom: 2rem;
				}
			}
		}
		&[data-step-no="4"]{
			height: calc(#{$compareMapboxHeight} + 32rem);
			.diffBox{
				background: darken($whiteColor, 5);
				.columnBox{
					display: block;
					height: auto;
					padding-bottom: 1rem;
				}
				.compareMapbox{
					height: $compareMapboxHeight;
				}
			}
		}
		&[data-step-no="5"],
		&[data-step-no="6"],
		&[data-step-no="7"]{
			background-color: transparent;
			.contextbox{
				margin: 0;
				background-color: $whiteColor;
			}
			.mapGifBox{
				height: $mapGifWidth;
			}
		}
		&[data-step-no="5"]{
			height: calc(#{$mapGifWidth} + 38rem);
			.contextbox{
				height: 38rem;
			}
		}
		&[data-step-no="6"]{
			height: calc(#{$mapGifWidth} + 30rem);
			.contextbox{
				height: 30rem;
			}
		}
		&[data-step-no="7"]{
			height: calc(#{$mapGifWidth} + 46rem);
			.contextbox{
				height: 46rem;
			}
		}
		&[data-step-no="8"]{
			height: 30rem;
		}
	}
	.columnBox{
		grid-auto-columns: 100%;
		grid-auto-flow: row;
		grid-gap: initial;
	}
}	
