$whiteColor: rgb(249, 249, 249);
$grayColor: #ddd;
$titleColor: #000;
$blackColor: #262626;
$blueColor: #85a3e0;
$yellowColor: #f5df3d;
$redColor: #ff6347;
$defaultColor: #eccbcb;

$textSubColor: lighten($blackColor, 5);

$asideWidth : 30em;

// Reset
body{
	margin: 0;
	padding: 0;
}
b{
	font-weight: bolder;
}
h1,h2{
    font-weight: normal;
    color: $whiteColor;
    margin: 0.5rem 0;
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 1.5rem;
}
h6{
	font-size: 1.3rem;
	margin: 0 0 1rem 0;
}
p{
	font-size: 1rem;
	line-height: 1.8rem;
	margin: 0 0 1rem 0;
}
a{
    display: inline-block;
    padding: 0;
    text-decoration: none;
}
button{
    box-sizing: border-box;
	cursor: pointer;
	outline: 0;
    border: none;
    background-color: transparent;
    background-size: contain;
    &:focus{
        outline: 1px solid $blueColor;
        outline-offset: 4px;
        border: none;
        box-shadow: none;
    }
}
img{
	height: 100%;
}
.imgBox{
	display: inline-block;
	width: 100%;
	height: 17rem;
	padding: 1rem;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}

#logoBox{
	display: inline-block;
	text-align: left;
	height: 3rem;
    margin: 0.5rem;
	img{
		filter: invert(1);
	}
}

.contextbox{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: #{$asideWidth*2.5};
    height: auto;
    margin: auto;
    padding: 6rem 2rem 2rem 2rem;
    .annotation{
        margin-top: 5rem;
        p{
            font-size: 0.8rem;	
        }
    }
}

.tooltipBox{
    width: 15rem;
    >*{
        word-break: break-all;
        width: 15rem;
        white-space: normal;
        margin: 0;
        padding: 0;
    }
    h6{
        font-size: 0.9rem;
        color: $blackColor;
    }
    p{
        font-size: 0.7rem;
        color: $textSubColor;
        margin-bottom: 0;
    }
}

.mapLegendBox{
	display: inline-flex;
	flex-direction: column;
    >div{
        position: relative;
		width: 11rem;
        font-size: .8rem;
        margin: 0 1rem;
		text-align: left;
        &:before {
            content: "";
            width: 0.8rem;
            height: 0.8rem;
            position: absolute;
            left: -1rem;
            top: 0.2rem;
        }
        &.yellow:before{
            background: $yellowColor;
        }
        &.blue:before{
            background: $blueColor;
        }
        &.red:before{
            background: $redColor;
        }
        &.taxiStationLegend:before{
            background: $defaultColor;
			border-radius: 50%;
        }
    }
}

.hide{
	visibility: hidden;
	opacity: 0;
}

@mixin scrollbar_style {
    scrollbar-face-color: lighten($grayColor, 25);
    scrollbar-track-color: $grayColor;
    scrollbar-arrow-color: lighten($grayColor, 35);
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 0.25rem;
        background: rgba($grayColor,0.4);
        &:hover{
            background: rgba($grayColor,0.8);
        }
    }
    &::-webkit-scrollbar-track {
        border-radius: 0.25rem;
        background: rgba($grayColor,0.03);
    }
    &::-webkit-scrollbar-corner{
        background: transparent;
    }
}